### Import packages

In [1]:
import pandas as pd 
import numpy as np  
import matplotlib.pyplot as plt  
import seaborn as sns

In [2]:
%matplotlib inline

### Read csv and view first 6 rows of data

In [21]:
gdp_df = pd.read_csv('..\data\gdp_percapita.csv')

In [22]:
gdp_df.head(6)

  Country or Area  Year        Value  Value Footnotes
0     Afghanistan  2018  1734.723214              NaN
1     Afghanistan  2017  1758.465636              NaN
2     Afghanistan  2016  1757.023490              NaN
3     Afghanistan  2015  1766.593077              NaN
4     Afghanistan  2014  1795.735834              NaN
5     Afghanistan  2013  1807.762344              NaN

### Repeat above steps for the internet_use.csv

In [28]:
internet_df = pd.read_csv('..\data\internet_use.csv')

ParserError: Error tokenizing data. C error: Expected 4 fields in line 4675, saw 6